.jobs-list{

    .search {
        position: relative;

        .search-input{

            &::-webkit-calendar-picker-indicator {
                display: none;
            }
        }

        .search-icon {
            position: absolute;
            top: 50%;
            right: 12px;
            transform: translateY(-58%);

            i {

                &::before {
                    font-size: 16px;
                    color: $black;
                }
            }
        }
    }

    .jobs-wrapper{

        .job-item{

            a{

            }
        }
    }
}
