// Colors
$black     : #000000;
$white     : #FFFFFF;
$grey      : #3c3c3b;
$greyLight : #5c5c5c;
$blue      : #0f73a0;
$green     : #04a33f;



// Layout
$containerWidth: 1320px;      // Container Width
$break-tablet:   980px;      //  Tablet
$break-mobile:   767px;     //   Mobile


/* Sizes */
$space-small:20px;
$space-medium:40px;
$space-large:80px;
$space-xlarge:160px;
