// CSS reset
@import "base/reset";

/* BASE */
@import "base/variables";
@import "base/iconfont";

/* MIXINS */
@import "mixins/andy";                 // Mixin Collection
@import "mixins/clearfix";           //   Clearfix
@import "mixins/font-mixin";        //    Fonts
@import "mixins/family";           //     nth-childs
@import "mixins/responsive";      //      Responsive

/* HELPERS */



body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    background-color: $white;
}


/* TYPOGRAPHY */
@import "base/headlines";
@import "base/typography";

/* FORM ELEMENTS */
@import "base/button";
@import "base/form-elements";


/* LAYOUT */
@import "layout/header";
@import "layout/footer";
@import "layout/layout";


/* COMPONENTS */
@import "components/searchSection";
